.main-grid {
    width: clamp(280px, 100%, 1400px);
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-template-rows: 165px 1fr;
    column-gap: 3rem;
}

.barcode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.barcode-sample {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.barcode-sample:hover {
    transform: translateY(-4px);
}

.barcode-sample img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

.barcode-sample h3 {
    font-size: 1.5rem;
}

.barcode-instructions {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-box>*,
#answer {
    font-size: clamp(1rem, 1.16vw + 0.5rem, 1.16rem);
}

#answer {
    height: 55px;
    text-align: center;
}

.valid {
    color: #28a745;
}

input.valid {
    color: #28a745;
    border: 1px solid #28a745;
    box-shadow: 0px 7px 14px -7px #28a745;
}

input.valid:focus {
    outline: 1px solid #28a745;
}

.invalid {
    color: #dc3545;
}

input.invalid {
    color: #dc3545;
    border: 1px solid #dc3545;
    box-shadow: 0px 7px 14px -7px #dc3545;
}

input.invalid:focus {
    outline: 1px solid #dc3545;
}

.barcode-samples {
    grid-row: 2;
}

.calculation {
    grid-row: span 2;
}

.formula-example {
    margin-top: 1rem;
}

.step {
    margin-top: 0.5rem;
    font-size: 1.16rem;
}

.even,
.odd,
.lastEven,
.lastOdd,
.constant,
.lastMultiply,
.lastAdd,
.checkDigit {
    font-weight: bolder;
}

.even {
    color: #2a3a91;
}

.odd {
    color: #f1592a;
}

.lastEven {
    color: #25AAE1;
}

.lastOdd {
    color: #FBB040;
}

.constant {
    color: #684092;
}

.lastMultiply {
    color: #EF557D;
}

.lastAdd {
    color: #8C5F3C;
}

.checkDigit {
    color: #459646;
}

.modulo::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid #459646;
    vertical-align: middle;
}

@media (width <=875px) {
    .main-grid {
        grid-template-columns: 1fr;
    }

    .barcode-samples {
        margin-top: 1.5rem;
        grid-row: 3;
    }

    .calculation {
        margin-top: 1.5rem;
        grid-row: 2;
    }
}

@media (width <=1115px) {

    h2,
    h3,
    p {
        text-align: center;
    }
}